@model Shared.ViewModels.Queries.GetTodoTask.GetTodoTaskVm
@using KoniecToDoApp.Extensions;
<main>
    <form method="post">
        <label>Title</label>
        <input asp-for="@Model.TodoTask.Title" required>
        <label>Task deadline</label>
        <input type="date" name="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@Model.TodoTask.Deadline?.ToString("yyyy-MM-dd")" required>
        <input type="time" name="time" value="@Model.TodoTask.Deadline?.ToString("HH:mm")" required>
        <label>To what list should task belong?</label>
        @{
            <select asp-for="@Model.TodoTask.TodoListId" asp-items="@Model.TodoLists?.ToSelectListItem(1)"></select>
        }
        <label>Priority of task</label>
        <select asp-for="@Model.TodoTask.PriorityId" asp-items="@Model.Priorities?.ToSelectListItem(1)"></select>
        <input type="submit">
    </form>
</main>
